/* Nosotros Main */
.fondo {
    background-color: black;
    .nosotros {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px;
        .contenido {
            flex: 1;
            margin-right: 20px;
        }
        h1 {
            font-size: 24px;
            margin-bottom: 20px;
            color: $color-principal;
        }
        p {
            font-size: 16px;
            line-height: 1.5;
            color: $color-principal;
        }
        #carouselExampleSlidesOnly {
            max-width: 400px;
            margin: 0 auto;
            padding-bottom: 10px;
        }
        .carousel-item img {
            height: 600px;
            width: 500px;
        }
    }
}
/* Cierre */